name: 游 Deploy Laravel via FTP com curl

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    name: Enviar arquivos via FTP com curl
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Checkout do reposit칩rio
        uses: actions/checkout@v4

      - name: 游 Deploy via FTP com lftp
        run: |
          # Instalar lftp
          sudo apt-get install lftp -y
          
          # Comando lftp para FTP com ignore de certificado
          lftp -f "
          set ftp:list-options -a
          set ssl:verify-certificate false  # Ignora o erro de certificado
          open ftp://josev797:29_Zezao_DevFull@108.179.253.44
          lcd ./  # Diret칩rio local atual
          cd /home1/josev797/public_html/starttofinish.com.br/  # Diret칩rio remoto
          mirror -R --exclude .git* --exclude .env --exclude vendor --exclude storage --exclude node_modules --exclude README.md --exclude tests ./
          bye
          "
